# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Variables de entorno / secretos
.env

# Datos (opcional, si no quieres versionar datasets pesados)
data/

# Logs 
logs/

# Archivos del sistema / editor
.DS_Store
.vscode/
.idea/

# Claude 
CLAUDE.md

# Airflow 
airflow/airflow.cfg
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/simple_auth_manager_passwords.json.generated
airflow.*
