# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Variables de entorno / secretos
.env

# Datos (opcional, si no quieres versionar datasets pesados)
data/

# Archivos del sistema / editor
.DS_Store
.vscode/
.idea/